@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model UtahCrashStats.Pages.AboutMeModel
@{
}
<h1>This is my about Page</h1>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@