@page
@model UtahCrashStats.Pages.AboutModel
@{
    ViewData["Title"] = "Utah Crash Stats";
    ViewData["Filtered"] = false;
    ViewData["SearchTerm"] = "";
    ViewData["FilterInput"] = "";
    ViewData["FiltersNamesDict"] = Model.filtersNamesDict;
    ViewData["FiltersDict"] = Model.filtersDict;
    ViewData["IsCrashesPage"] = "false";
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">About Us</h1>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col">

        <!-- Our Mission -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Our Mission</h6>
            </div>
            <div class="card-body">
                The mission of Utah Crash Stats is to fight against the automobile accident crisis
                in Utah by providing a transparent and informative library of knowledge regarding
                crashes in Utah, including location, time, severity, and a number of other details.

                We believe in accountability and transparency. To that end, we record crash data,
                implementing the latest security features to ensure an intuitive and safe experience
                for all users.
            </div>
        </div>

        <!-- Growth and Beyond -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Growth and Beyond</h6>
            </div>
            <div class="card-body">
                In conjunction with the Crash Studies Team at UDOT, Utah Crash Stats is working on
                providing an accesible database in the form of a web application to allow local
                government officials and all utah drivers to view and analyze crash statistics.
                In the future, we hope to implement more databases to further aid in the Utah crash crisis.
            </div>
        </div>

        <!-- Meet the Team -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Meet the Team</h6>
            </div>
            <div class="card-body">
                <div class="container px-5 mb-5 mt-2">
                    <div class="text-center">
                        <p class="lead fw-normal text-muted mb-5">Dedicated to Saving Lives Through Information</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/Stefany.png" width="1000" height="1000" alt="...">
                                <h5 class="fw-bolder">Stefany Guevara</h5>
                                <div class="fst-italic text-muted">Data Analysis and Systems Design</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/Trevor.jpg" width="1000" height="1000" alt="...">
                                <h5 class="fw-bolder">Trevor Schoeny</h5>
                                <div class="fst-italic text-muted">Web Development and Design</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/McKaylee.jpg" width="1000" height="1000" alt="...">
                                <h5 class="fw-bolder">Mckaylee Olson</h5>
                                <div class="fst-italic text-muted">Data Analysis and AWS Cloud Practitioning</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/John.png" width="1000" height="1000" alt="...">
                                <h5 class="fw-bolder">John Critchlow</h5>
                                <div class="fst-italic text-muted">Web Devlopment and Security</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>