@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@model UtahCrashStats.Pages.EditModel

@{
    ViewData["Title"] = "Utah Crash Stats";
    ViewData["Filtered"] = false;
    ViewData["SearchTerm"] = "";
    ViewData["FilterInput"] = "";
    ViewData["FiltersNamesDict"] = Model.filtersNamesDict;
    ViewData["FiltersDict"] = Model.filtersDict;
    ViewData["IsCrashesPage"] = "false";
}

<h1>Edit</h1>

<h4>Crash</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Crash.CRASH_ID" />
            <div class="form-group">
                <label asp-for="Crash.CRASH_DATETIME" class="control-label"></label>
                <input asp-for="Crash.CRASH_DATETIME" class="form-control" />
                <span asp-validation-for="Crash.CRASH_DATETIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.ROUTE" class="control-label"></label>
                <input asp-for="Crash.ROUTE" class="form-control" />
                <span asp-validation-for="Crash.ROUTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.MILEPOINT" class="control-label"></label>
                <input asp-for="Crash.MILEPOINT" class="form-control" />
                <span asp-validation-for="Crash.MILEPOINT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.LAT_UTM_Y" class="control-label"></label>
                <input asp-for="Crash.LAT_UTM_Y" class="form-control" />
                <span asp-validation-for="Crash.LAT_UTM_Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.LONG_UTM_X" class="control-label"></label>
                <input asp-for="Crash.LONG_UTM_X" class="form-control" />
                <span asp-validation-for="Crash.LONG_UTM_X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.MAIN_ROAD_NAME" class="control-label"></label>
                <input asp-for="Crash.MAIN_ROAD_NAME" class="form-control" />
                <span asp-validation-for="Crash.MAIN_ROAD_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.CITY" class="control-label"></label>
                <input asp-for="Crash.CITY" class="form-control" />
                <span asp-validation-for="Crash.CITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.COUNTY_NAME" class="control-label"></label>
                <input asp-for="Crash.COUNTY_NAME" class="form-control" />
                <span asp-validation-for="Crash.COUNTY_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.CRASH_SEVERITY_ID" class="control-label"></label>
                <input asp-for="Crash.CRASH_SEVERITY_ID" class="form-control" />
                <span asp-validation-for="Crash.CRASH_SEVERITY_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.WORK_ZONE_RELATED" class="control-label"></label>
                <input asp-for="Crash.WORK_ZONE_RELATED" class="form-control" />
                <span asp-validation-for="Crash.WORK_ZONE_RELATED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.PEDESTRIAN_INVOLVED" class="control-label"></label>
                <input asp-for="Crash.PEDESTRIAN_INVOLVED" class="form-control" />
                <span asp-validation-for="Crash.PEDESTRIAN_INVOLVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.BICYCLIST_INVOLVED" class="control-label"></label>
                <input asp-for="Crash.BICYCLIST_INVOLVED" class="form-control" />
                <span asp-validation-for="Crash.BICYCLIST_INVOLVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.MOTORCYCLE_INVOLVED" class="control-label"></label>
                <input asp-for="Crash.MOTORCYCLE_INVOLVED" class="form-control" />
                <span asp-validation-for="Crash.MOTORCYCLE_INVOLVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.IMPROPER_RESTRAINT" class="control-label"></label>
                <input asp-for="Crash.IMPROPER_RESTRAINT" class="form-control" />
                <span asp-validation-for="Crash.IMPROPER_RESTRAINT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.UNRESTRAINED" class="control-label"></label>
                <input asp-for="Crash.UNRESTRAINED" class="form-control" />
                <span asp-validation-for="Crash.UNRESTRAINED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.DUI" class="control-label"></label>
                <input asp-for="Crash.DUI" class="form-control" />
                <span asp-validation-for="Crash.DUI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.INTERSECTION_RELATED" class="control-label"></label>
                <input asp-for="Crash.INTERSECTION_RELATED" class="form-control" />
                <span asp-validation-for="Crash.INTERSECTION_RELATED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.WILD_ANIMAL_RELATED" class="control-label"></label>
                <input asp-for="Crash.WILD_ANIMAL_RELATED" class="form-control" />
                <span asp-validation-for="Crash.WILD_ANIMAL_RELATED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.DOMESTIC_ANIMAL_RELATED" class="control-label"></label>
                <input asp-for="Crash.DOMESTIC_ANIMAL_RELATED" class="form-control" />
                <span asp-validation-for="Crash.DOMESTIC_ANIMAL_RELATED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.OVERTURN_ROLLOVER" class="control-label"></label>
                <input asp-for="Crash.OVERTURN_ROLLOVER" class="form-control" />
                <span asp-validation-for="Crash.OVERTURN_ROLLOVER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.COMMERCIAL_MOTOR_VEH_INVOLVED" class="control-label"></label>
                <input asp-for="Crash.COMMERCIAL_MOTOR_VEH_INVOLVED" class="form-control" />
                <span asp-validation-for="Crash.COMMERCIAL_MOTOR_VEH_INVOLVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.TEENAGE_DRIVER_INVOLVED" class="control-label"></label>
                <input asp-for="Crash.TEENAGE_DRIVER_INVOLVED" class="form-control" />
                <span asp-validation-for="Crash.TEENAGE_DRIVER_INVOLVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.OLDER_DRIVER_INVOLVED" class="control-label"></label>
                <input asp-for="Crash.OLDER_DRIVER_INVOLVED" class="form-control" />
                <span asp-validation-for="Crash.OLDER_DRIVER_INVOLVED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.NIGHT_DARK_CONDITION" class="control-label"></label>
                <input asp-for="Crash.NIGHT_DARK_CONDITION" class="form-control" />
                <span asp-validation-for="Crash.NIGHT_DARK_CONDITION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.SINGLE_VEHICLE" class="control-label"></label>
                <input asp-for="Crash.SINGLE_VEHICLE" class="form-control" />
                <span asp-validation-for="Crash.SINGLE_VEHICLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.DISTRACTED_DRIVING" class="control-label"></label>
                <input asp-for="Crash.DISTRACTED_DRIVING" class="form-control" />
                <span asp-validation-for="Crash.DISTRACTED_DRIVING" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.DROWSY_DRIVING" class="control-label"></label>
                <input asp-for="Crash.DROWSY_DRIVING" class="form-control" />
                <span asp-validation-for="Crash.DROWSY_DRIVING" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crash.ROADWAY_DEPARTURE" class="control-label"></label>
                <input asp-for="Crash.ROADWAY_DEPARTURE" class="form-control" />
                <span asp-validation-for="Crash.ROADWAY_DEPARTURE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

